* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg-color.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
.text{
padding-right: 17%;
padding-bottom: 4%;

    
}
.text h{
        background: -webkit-linear-gradient(45deg,#572929, #14b09e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-size: 4rem;
    

}
.text p{
    padding-left: 24%;
    font-size: 3rem;
    background: -webkit-linear-gradient(4deg,#572929, #14b09e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
#redirect{
    height: 49px;
    width: 14rem;
    margin-top: 13%;
    margin-left: 28%;
    border-radius: 50px;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    color: #153fa1;
}
#redirect:hover{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.calculator {
    background-color:rgb(54, 53, 53);
    padding: 20px;
    margin-right: 6rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.393);
    width: 360px;

    
    
}


.display {
    height: 80px;
    width: 100%;
    background-color:rgba(154, 189, 85, 0.8);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 47px;
    font-size: 1.5rem;
    background-color: #727272;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #ffffff;
}
#upper_btn{
    background-color: black;
}
#upper_btn:hover{
    background-color: #171717;
}

.btn:hover {
    background-color: #9d9d9d;
}

.operator {
    background-color: #ffa500;
    color: white;
}

.operator:hover {
    background-color: #ff8c00;
}

.equal {
    grid-column: span 2;
    background-color: #00bfff;
    color: white;
}

.equal:hover {
    background-color: #00a1e0;
}
